{% extends 'base.html.twig' %}

{% block body %}
    {% include ':default/partials:header.html.twig' %}

    <div class="wrapper">
        <div class="parallax">
            <div class="parallax-background">
                <img class="parallax-background-image" src="{{ asset('assets/img/parallax-night-sky-image.jpg') }}">
            </div>
            <div class= "container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="description text-center">
                            <h2>youRL already exists!</h2>
                            <div class="description-subtitle">
                                <h5>Copy the existing short youRL and get to work!</h5>
                            </div>
                        </div>
                        <div class="input-group input-group-lg">
                            <input type="text" id="shortUrl" name="shortUrl" value="{{ existingUrl }}" class="form-control" readonly>
                                <span class="input-group-btn"><button type="submit" id="copyShortUrl" name="copyShortUrl" class="btn btn-info btn-fill btn">Copy</button></span>
                        </div>
                        <div class="buttons text-center">
                            <a href="{{ url('homepage') }}" role="button" class="btn btn-lg btn-neutral">Shorten another link</a>
                            <a href="#analytics" role="button" class="btn btn-lg btn-neutral">View the analytics</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="analytics" class="section section-features">
            <div class="container">
                <h4 class="header-text text-center">Features and Benefits</h4>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-blue">
                            <div class="icon">
                                <i class="pe-7s-link"></i>
                            </div>
                            <div class="text">
                                <h4>Shorten your links</h4>
                                <p>Save precious characters and make your twitter and social media posts more concise and appealing.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-blue">
                            <div class="icon">
                                <i class=" pe-7s-shuffle"></i>
                            </div>
                            <h4>Hide you affiliates</h4>
                            <p>If you are marketer that doesn't want people to know when you're posting an affiliate link you can use a custom youRL to hide it.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-blue">
                            <div class="icon">
                                <i class="pe-7s-graph1"></i>
                            </div>
                            <h4>Track your clicks</h4>
                            <p>youRLs.co.uk allows you to track the number of clicks and visits to your website via your short link.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include ':default/partials:aboutBlock.html.twig' %}
        {% include ':default/partials:footer.html.twig' %}
    </div>
{% endblock %}

