<footer class="footer">
    <div class="container">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="{{ url('homepage') }}">Home</a>
                </li>
            </ul>
        </nav>
        <div class="social-area pull-right">
            <a href="https://twitter.com/rick_west8" class="btn btn-social btn-twitter btn-simple"><i class="fa fa-twitter"></i></a>
            <a href="https://github.com/rickwest" class="btn btn-social btn-github btn-simple"><i class="fa fa-github"></i></a>
        </div>
        <div class="copyright">
            © 2016. Made with <img src="{{ asset('assets/img/php-icon-white.gif') }}"> and <i class="fa fa-coffee"></i> by <a href="http://www.rickwest.co.uk" target="_blank">Rick</a>
        </div>
    </div>
</footer>