{% extends 'base.html.twig' %}

{% block title %}youRLs.co.uk | URL Shortener{% endblock %}

{% block body %}

{% include ':default:header.html.twig' %}

<div class="wrapper">
    <div class="parallax">
        <div class="parallax-background">
            <img class="parallax-background-image" src="{{ asset('assets/img/parallax-night-sky-image.jpg') }}">
        </div>
        <div class= "container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="description text-center">
                        <h2>Bigger isn't always better.</h2>
                        <div class="description-subtitle">
                            <h5>Enter your long link and let us generate a short youRL for you instead!</h5>
                        </div>
                    </div>
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control" placeholder="Paste your link to shorten...">
                        <span class="input-group-btn"><button class="btn btn-primary btn-fill" type="button">Shorten</button></span>
                    </div>
                    {#<div class="buttons text-center">#}
                        {#<button class="btn btn-lg btn-neutral">Sign up today</button>#}
                    {#</div>#}
                </div>
            </div>
        </div>
    </div>
    <div class="section section-features">
        <div class="container">
            <h4 class="header-text text-center">Features and Benefits</h4>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-blue">
                        <div class="icon">
                            <i class="pe-7s-link"></i>
                        </div>
                        <div class="text">
                            <h4>Shorten your links</h4>
                            <p>Save precious characters and make your twitter and social media posts more concise and appealing.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-blue">
                        <div class="icon">
                            <i class=" pe-7s-shuffle"></i>
                        </div>
                        <h4>Hide you affiliates</h4>
                        <p>If you are marketer that doesn't want people to know when you're posting an affiliate link you can use a custom youRL to hide it.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-blue">
                        <div class="icon">
                            <i class="pe-7s-graph1"></i>
                        </div>
                        <h4>Track your clicks</h4>
                        <p>youRLs.co.uk allows you to track the number of clicks and visits to your website via your short link.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-gray section-clients">
        <div class="container text-center">
            <h4 class="header-text">About The Project</h4>
            <p>youRLs.co.uk is a small portfolio project built with PHP and the Symfony framework. Please, feel free to get in touch if you have any suggestions for improvement or if you just want to say hello!</p>
        </div>
    </div>

{% include ':default:footer.html.twig' %}
</div>

{% endblock %}