<div class="section section-gray section-clients">
    <div class="container text-center">
        <h4 class="header-text">About The Project</h4>
        <p>youRLs.co.uk is a small portfolio project built with PHP and the Symfony framework. Please, feel free to get in touch if you have any suggestions for improvement or if you just want to say hello!</p>
    </div>
</div>