<div class="section section-features">
    <div class="container">
        <h4 class="header-text text-center">Features and Benefits</h4>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-blue">
                    <div class="icon">
                        <i class="pe-7s-link"></i>
                    </div>
                    <div class="text">
                        <h4>Shorten your links</h4>
                        <p>Save precious characters and make your twitter and social media posts more concise and appealing.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-blue">
                    <div class="icon">
                        <i class=" pe-7s-shuffle"></i>
                    </div>
                    <h4>Hide you affiliates</h4>
                    <p>If you are marketer that doesn't want people to know when you're posting an affiliate link you can use a custom youRL to hide it.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-blue">
                    <div class="icon">
                        <i class="pe-7s-graph1"></i>
                    </div>
                    <h4>Track your clicks</h4>
                    <p>youRLs.co.uk allows you to track the number of clicks and visits to your website via your short link.</p>
                </div>
            </div>
        </div>
    </div>
</div>