<nav class="navbar navbar-transparent navbar-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar bar1"></span>
                <span class="icon-bar bar2"></span>
                <span class="icon-bar bar3"></span>
            </button>
            <a href="{{ url('homepage') }}">
                <div class="logo-container">
                    <div class="brand">
                        <b>youRLs.co.uk</b>
                    </div>
                </div>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="example" >
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="https://twitter.com/rick_west8" target="_blank"><i class="fa fa-twitter"></i> Tweet</a>
                </li>
                <li>
                    <a href="https://github.com/rickwest" target="_blank"><i class="fa fa-github"></i> Git Hub</a>
                </li>
                {#<li>#}
                    {#<button type="button" class="btn btn-fill btn-default navbar-btn">Sign in</button>#}
                {#</li>#}
                {#<li>#}
                    {#<button type="button" class="btn btn-fill btn-success navbar-btn">Sign up</button>#}
                {#</li>#}
            </ul>
        </div>
    </div>
</nav>